<section class="flex flex-col">

  <div class="flex justify-between">
    <h1 class="text-3xl font-bold">
      Your <span class="text-[#673ab7]">Drivee</span> files
    </h1>
    <div class="flex gap-x-4">
      <!-- Bulk actions -->
      <button *ngIf="!dataSourceEmpty()" (click)="toggleBulkActions()" mat-stroked-button>
        {{ bulkActionsActive() ? 'Close' : 'Show'}} bulk actions
      </button>
      <ng-container *ngIf="!bulkActionsActive()">
        <!-- Add new files -->
        <button (click)="openFileFormDialog()" mat-flat-button color="primary">
          Add files
        </button>
      </ng-container>
      <ng-container *ngIf="bulkActionsActive()">
        <!-- Delete multiple files -->
        <button (click)="bulkDelete()" mat-button [disabled]="filesSelection().isEmpty()" color="warn">
          Delete all
        </button>
      </ng-container>
    </div>
  </div>

  <!-- File list and pagination -->
  <file-list-table [dataSource]="filesDataSource()" [columns]="displayedColumns()" matSort matSortStart="desc"
    #sort="matSort" class="mt-8">

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let file">
        <div class="flex justify-end gap-x-3">
          <!-- Open file -->
          <a [href]="file.previewUrl | auth" target="_blank" mat-flat-button color="primary">Open</a>
          <!-- Download file -->
          <a [href]="file.downloadUrl | auth" target="_blank" mat-stroked-button color="primary">Download</a>
          <!-- Delete -->
          <button (click)="deleteFile(file)" mat-button color="warn">Delete</button>
        </div>
      </td>
    </ng-container>

    <!-- Checkbox column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="toggleAllRows($event)" [checked]="filesSelection().hasValue() && isAllSelected()"
          [indeterminate]="filesSelection().hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let file">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? filesSelection().toggle(file) : null"
          [checked]="filesSelection().isSelected(file)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="py-4 text-center mat-cell text-slate-500" [colSpan]="displayedColumns().length">No files added for now
      </td>
    </tr>

  </file-list-table>

  <mat-paginator #paginator [length]="dataSourceSize()"></mat-paginator>

</section>

<!-- Add file form dialog -->
<ng-template #addFileFormDialog>
  <add-files-form (submitChanges)="addFiles($event)"></add-files-form>
</ng-template>
